body{
    font-family: 'Montserrat-Black, sans-serif';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}


h1 {
    font-family: 'Montserrat';  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    
}

h2{
    font-family: 'Montserrat';  
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/*Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;

}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
   right: 30%;
}

/* Features Section*/

#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}

.feature-box{
    padding: 5%;
    text-align: center;
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;;
}

/* CTA Section*/
#cta{
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}

.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */
#footer{
    padding: 7% 15%;
    background-color: #fff;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

.fa-twitter{
   color:#1DA1F2;
}

.fa-facebook{
    color: #4267B2;
}

.fa-instagram{
    color: #fb3958;
}

.fa-envelope{
    color: #4c6ef5;
}
/* Media Query */

@media(max-width: 1028px){
    #title{
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}